# Python virtual environment
cowrie-env/
__pycache__/
*.pyc

# Logs
*.log
*.log.*
cowrie.log
var/log/

# System junk
.DS_Store
Thumbs.db

# Credentials or local config
.env
*.cfg
*.db

# Editor folders
.vscode/
.idea/

# SSH sessions
tty/
